


<% if @weather_results.present? %>
<div class="row mt-4 text-initial">
  <div class="offset-md-4 col-md-4">
    Current Temperature: <%= @weather_results.main.temp %>F 
  </div>
  <div class="offset-md-4 col-md-4">
    Max Temperature: <%= @weather_results.main.temp_max %>F 
  </div>
  <div class="offset-md-4 col-md-4">
    Min Temperature: <%= @weather_results.main.temp_min %>F 
  </div>
  <div class="offset-md-4 col-md-4">
    Zipcode: <%= @zipcode_param %>
  </div>
  <div class="offset-md-4 col-md-4">
    Cached Results? <%= @cache_exists ? "Yes" : "No" %>
  </div>
</div>
<% else %>
<div class="row mt-4">
  <div class="offset-md-4 col-md-4">
    <h3>Sorry, that zipcode is invalid. Please try again with a valid zipcode.</h3>
  </div>
</div>
<% end %>


<%= render partial: 'form' %>



